@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Raleway&family=Nunito&display=swap");

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* box-sizing: border-box; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

input,
button,
p,
span {
  font-family: "Raleway", sans-serif;
}

p {
  color: #fff;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #fff;
}

.form-wrapper {
  width: 100%;
  height: 100vh;
  background: url("../img/fondo2.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home {
  background: url("../img/home.jpg") no-repeat center center/cover;
  
}

hr {
    width: 100%;
    height: .5px;
    background: #eee;
    border: none;
}

.form-wrapper form {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background: #333;
  border-radius: 3px;
}

.form-wrapper form button {
  width: 100%;
  padding: 15px 5px;
  background-color: #2960b9;
  color: #fff;
  border: none;
  margin: 2px 0;
  border-radius: 3px;
  cursor: pointer;
}

.form-wrapper .spacer {
  width: 100%;
  height: 20px;
  display: block;
}

.form-wrapper form input {
  border: 1px solid #34495e77;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
  background: #fff;
  margin: 2px 0;
  box-sizing: border-box;
}

.form-wrapper form input:focus {
  outline: none;
}

.appbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background: #333;
}

.appbar h2 {
  color: #ddd !important;
}

.appbar .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.appbar .menu a {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    display: block;
    padding: 10px 20px;
    margin: 0 5px;
    
}

.home-wrapper {
  width: 100%;
  height: 100vh;
  padding: 50px 20px;
  box-sizing: border-box;
  background: url("../img/home.jpg") no-repeat center center/cover;
}


.home-wrapper h1 {
  font-family: "Nunito", sans-serif;
  text-align: center;

}


.home-wrapper p {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  text-align: justify;
}


.personajes .form-personajes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px;
  background: #333;
  border-radius: 3px;


}

.sipnosis {
  padding: 50px;
  width: 100%;
  height: calc(100vh - 88.9px);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background: url("../img/sipnosis.jpg") no-repeat center center/cover;
  
}

.sipnosis::before{
  padding: 50px;
  width: 100%;
  height: calc(100vh - 88.9px);
  box-sizing: border-box;
  background: url("../img/sipnosis.jpg") no-repeat center center/cover;
  opacity: 0;
}

#form-personajes{
  width: 100%;
  padding: 10px 300px;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: column;
  background: rgb(88, 11, 11);
}


#form-personajes select{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

#form-personajes button{
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border-radius: 3px;
  
  cursor: pointer;
  background: #2960b9;
  
}

#form-personajes h1{
  text-align: center;
  color: #fff;
}

#info_actores {
  width: 100%;
  height: 60vh;
  padding: 20px 300px !important;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(90, 90, 90);
}

#info_actores div{
  padding: 20px;
}

#info_actores img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid #333;
  
}

#info_actores h1 {
  font-family: "Nunito", sans-serif;
  color: rgb(5, 0, 0);
  font-size: 1.1rem;
  font-weight: 600;
  justify-content: center;
  text-align: justify;
}

#info_actores span {
  font-family: "Nunito", sans-serif;
  color: rgb(5, 0, 0);
  font-size: 0.9rem;
  font-weight: 600;
  justify-content: center;
  text-align: left;
  flex-direction: column;
}

.sipnosis p {
  font-family: "Nunito", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 1.rem;
  font-weight: 300;
  text-align: justify;
}

.sipnosis h1, .sipnosis h2, .sipnosis h3{
  font-family: "Nunito", sans-serif;
  color: #030a14;
  text-align: center;

}
.sipnosis ul{
  font-family: "Nunito", sans-serif;
  color: #030a14;
  list-style: none;
  font-size: 1.1rem;
  text-align: center;
  width: 93%;
  font-weight: 600;
}
.sipnosis li,a {
  font-family: "Nunito", sans-serif;
  text-align: center;
  justify-content: center;
}


.admin-wrapper {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  background-image: url("../img/homelander-mouth.jpg.jpg") no-repeat center center/cover;

}

.admin-wrapper h1 {
  font-weight: bold;

}

.admin-wrapper .card {
  background-color: rgb(209, 209, 209);
}

